# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Local Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
# Sensitive service account key. DO NOT COMMIT.
/scripts/serviceAccountKey.json
*.log
